<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="utf-8"> 
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> YourSpace </title>
		<link rel="stylesheet" type="text/scss" href="/app/assetst/stylesheet/application.scss">
	</head>

	<body>
		<h1> Welcome to My Blog </h1>
		<%= button_to "My Blog", :articles, 
      :class => "btn btn-primary btn-lg", :method => :get %>
	</body>
</html>